<h1>This is a private party {{user.username}}</h1>

<iframe
  src='https://giphy.com/embed/66dLOWrLqrgxWHSeVR'
  width='480'
  height='400'
  frameBorder='0'
  class='giphy-embed'
  allowFullScreen
></iframe><p><a
    href='https://giphy.com/gifs/theoffice-the-office-tv-lecture-circuit-part-1-66dLOWrLqrgxWHSeVR'
  >via GIPHY</a></p>